table {
    border: 8px solid black;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}

th {
    border: 5px solid blue;
    font-size: 30px;

    border-top-color: greenyellow;
    /* по заданию ширина 3px */
    border-top-width: 30px;
    border-top-style: double;	
}

td {
    border: 5px solid red;
}

#col1316 {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(107,255,36,1) 35%, rgba(0,212,255,1) 100%);

    color: white;
}

#row789 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,66,110,1) 35%, rgba(0,212,255,1) 100%);
    
    color: white;
}
