body {
    background-color: red;

    display: flex;
    flex: 1;

    flex-wrap: wrap;
}

#main-container {
    position: relative;

    display: flex;
    flex: 1
}

.layer1 { 
    position: absolute;
    z-index: 1;
}

.layer2 { 
    position: absolute;
    z-index: 2;
}

.layer3 { 
    position: absolute;
    z-index: 3;

    font-size: 26px;
    font-family: Verdana;
    font-weight: 600;

    top: 130px;
    left: 85px;

    color: white;
}

.comment {
    display: flex;
    flex: 0.3;
    position: relative;

    background-color: white;
    border-radius: 20px;

    height: 200px;
    min-width: 330px;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: 600;
    font-family: Verdana;
}